@import "tailwindcss";

:root {
  --background: oklch(0.9642 0.0152 90.2349);
  --foreground: oklch(0.4404 0.0408 165.0142);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.4404 0.0408 165.0142);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.4404 0.0408 165.0142);
  --primary: oklch(0.7217 0.0726 147.2046);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8995 0.0264 76.7823);
  --secondary-foreground: oklch(0.5503 0.0444 160.5131);
  --muted: oklch(0.9407 0.0169 88.0008);
  --muted-foreground: oklch(0.6113 0.0444 157.0329);
  --accent: oklch(0.8700 0.0300 75.6587);
  --accent-foreground: oklch(0.5503 0.0444 160.5131);
  --destructive: oklch(0.6775 0.0959 19.8691);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8212 0.0422 85.2736);
  --input: oklch(0.9137 0.0198 87.5179);
  --ring: oklch(0.7217 0.0726 147.2046);
  --chart-1: oklch(0.7217 0.0726 147.2046);
  --chart-2: oklch(0.8015 0.0583 147.3349);
  --chart-3: oklch(0.8809 0.0427 147.3523);
  --chart-4: oklch(0.9332 0.0305 136.1427);
  --chart-5: oklch(0.9589 0.0149 119.1046);
  --sidebar: oklch(0.9137 0.0198 87.5179);
  --sidebar-foreground: oklch(0.4404 0.0408 165.0142);
  --sidebar-primary: oklch(0.7217 0.0726 147.2046);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8212 0.0422 85.2736);
  --sidebar-accent-foreground: oklch(0.5503 0.0444 160.5131);
  --sidebar-border: oklch(0.8057 0.0384 90.0977);
  --sidebar-ring: oklch(0.7217 0.0726 147.2046);
  --font-sans: 'Noto Sans JP', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'JetBrains Mono', monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 0.25rem;
  --shadow-blur: 1rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.15;
  --shadow-color: #d1c3a6;
  --shadow-2xs: 0px 0.25rem 1rem 0rem hsl(40.4651 31.8519% 73.5294% / 0.07);
  --shadow-xs: 0px 0.25rem 1rem 0rem hsl(40.4651 31.8519% 73.5294% / 0.07);
  --shadow-sm: 0px 0.25rem 1rem 0rem hsl(40.4651 31.8519% 73.5294% / 0.15), 0px 1px 2px -1px hsl(40.4651 31.8519% 73.5294% / 0.15);
  --shadow: 0px 0.25rem 1rem 0rem hsl(40.4651 31.8519% 73.5294% / 0.15), 0px 1px 2px -1px hsl(40.4651 31.8519% 73.5294% / 0.15);
  --shadow-md: 0px 0.25rem 1rem 0rem hsl(40.4651 31.8519% 73.5294% / 0.15), 0px 2px 4px -1px hsl(40.4651 31.8519% 73.5294% / 0.15);
  --shadow-lg: 0px 0.25rem 1rem 0rem hsl(40.4651 31.8519% 73.5294% / 0.15), 0px 4px 6px -1px hsl(40.4651 31.8519% 73.5294% / 0.15);
  --shadow-xl: 0px 0.25rem 1rem 0rem hsl(40.4651 31.8519% 73.5294% / 0.15), 0px 8px 10px -1px hsl(40.4651 31.8519% 73.5294% / 0.15);
  --shadow-2xl: 0px 0.25rem 1rem 0rem hsl(40.4651 31.8519% 73.5294% / 0.38);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.3323 0.0242 161.4488);
  --foreground: oklch(0.9407 0.0169 88.0008);
  --card: oklch(0.4005 0.0301 159.2919);
  --card-foreground: oklch(0.9407 0.0169 88.0008);
  --popover: oklch(0.4005 0.0301 159.2919);
  --popover-foreground: oklch(0.9407 0.0169 88.0008);
  --primary: oklch(0.6489 0.0905 146.7357);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.4697 0.0348 159.9420);
  --secondary-foreground: oklch(0.9407 0.0169 88.0008);
  --muted: oklch(0.4404 0.0408 165.0142);
  --muted-foreground: oklch(0.8685 0.0238 165.7706);
  --accent: oklch(0.5503 0.0444 160.5131);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.5525 0.0960 20.6237);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.5503 0.0444 160.5131);
  --input: oklch(0.4697 0.0348 159.9420);
  --ring: oklch(0.6489 0.0905 146.7357);
  --chart-1: oklch(0.6489 0.0905 146.7357);
  --chart-2: oklch(0.7217 0.0726 147.2046);
  --chart-3: oklch(0.8015 0.0583 147.3349);
  --chart-4: oklch(0.8809 0.0427 147.3523);
  --chart-5: oklch(0.9332 0.0305 136.1427);
  --sidebar: oklch(0.4005 0.0301 159.2919);
  --sidebar-foreground: oklch(0.9407 0.0169 88.0008);
  --sidebar-primary: oklch(0.6489 0.0905 146.7357);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.5503 0.0444 160.5131);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.4697 0.0348 159.9420);
  --sidebar-ring: oklch(0.6489 0.0905 146.7357);
  --font-sans: 'Noto Sans JP', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'JetBrains Mono', monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 0.25rem;
  --shadow-blur: 1rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.25;
  --shadow-color: #000000;
  --shadow-2xs: 0px 0.25rem 1rem 0rem hsl(0 0% 0% / 0.13);
  --shadow-xs: 0px 0.25rem 1rem 0rem hsl(0 0% 0% / 0.13);
  --shadow-sm: 0px 0.25rem 1rem 0rem hsl(0 0% 0% / 0.25), 0px 1px 2px -1px hsl(0 0% 0% / 0.25);
  --shadow: 0px 0.25rem 1rem 0rem hsl(0 0% 0% / 0.25), 0px 1px 2px -1px hsl(0 0% 0% / 0.25);
  --shadow-md: 0px 0.25rem 1rem 0rem hsl(0 0% 0% / 0.25), 0px 2px 4px -1px hsl(0 0% 0% / 0.25);
  --shadow-lg: 0px 0.25rem 1rem 0rem hsl(0 0% 0% / 0.25), 0px 4px 6px -1px hsl(0 0% 0% / 0.25);
  --shadow-xl: 0px 0.25rem 1rem 0rem hsl(0 0% 0% / 0.25), 0px 8px 10px -1px hsl(0 0% 0% / 0.25);
  --shadow-2xl: 0px 0.25rem 1rem 0rem hsl(0 0% 0% / 0.63);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}